/* ====== GLOBAL ====== */

body {
  margin: 0;
  padding: 0;

  font-family: "Merriweather", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #3c3c3c;
  font-weight: 300;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

/* ====== HEADER ====== */

.main-header {
  min-height: 965px;

  background-color: #f7f8f8;
  background-image: url(../img/header-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.site-navigation {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-navigation a {
  color: inherit;
  font-size: 18px;
  line-height: 24px;
}

.site-item {
  margin-left: 15px;
  margin-top: 55px;
  padding: 15px 25px;

}

.site-item-current,
.site-item:hover,
.site-item:active {
  outline: 1px solid #686868;
}

.tagline {
  position: relative;
  top: 280px;
  left: 740px;

  margin: 0;
  width: 530px;

  font-size: 40px;
  line-height: 55px;
  text-align: center;
}

.tagline::after {
  content: "";

  position: absolute;
  bottom: -60px;
  left: 140px;

  width: 253px;
  height: 33px;

  background-image: url(../img/decoration-line.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* ====== FEATURES ====== */

.features {
  padding-top: 180px;
  padding-bottom: 85px;

  background-color: #fbce11;
  background-image: url(../img/features-background.jpg);
  background-repeat: repeat;
}

.features-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.features-list h3 {
  margin: 0;
  margin-bottom: 25px;

  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.features-item {
  position: relative;

  width: 380px;
}

.features-item:first-child::before {
  content: "";

  position: absolute;
  top: -114px;
  left: 152px;

  width: 87px;
  height: 79px;

  background-image: url(../img/icon/noodle.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.features-item:nth-child(2)::before {
  content: "";

  position: absolute;
  top: -103px;
  left: 138px;

  width: 106px;
  height: 68px;

  background-image: url(../img/icon/Tea.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.features-item:nth-child(3)::before {
  content: "";

  position: absolute;
  top: -114px;
  left: 160px;

  width: 64px;
  height: 78px;

  background-image: url(../img/icon/sweet.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.features-item p {
  margin: 0;

  text-align: center;
}

/* ====== SPECIALS ====== */

.specials h2 {
  position: relative;

  display: block;
  margin: 0 auto;
  margin-top: 75px;
  margin-bottom: 110px;

  font-size: 40px;
  line-height: 55px;
  font-weight: 300;
  text-align: center;
}

.specials h2::after {
  content: "";

  position: absolute;
  bottom: -60px;
  left: 520px;

  width: 253px;
  height: 33px;

  background-image: url(../img/decoration-line.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.specials p {
  margin: 0;
}

.specials-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  margin-bottom: 105px;
  padding: 0;

  list-style: none;
}

.special-item {
  display: flex;
}

.special-item h3 {

  width: 176px;
  margin: 0;
  margin-bottom: 30px;
  margin-top: 40px;

  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
}

.special-item h3::after {
  content: "";

  position: absolute;
  top: 90px;
  left: 65px;

  width: 88px;
  height: 1px;

  background-color: #3c3c3c;
}

.special-item img {
  display: block;
}

.special-description {
  position: relative;

  width: 216px;
  padding: 0 15px;
  box-sizing: border-box;

  background-color: #f8f8f8;
}

.special-description p {
  margin-bottom: 15px;

  text-align: center;
}

.special-item .special-price {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;

  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
}

/* ====== INFO ====== */

.info {
  min-height: 800px;

  background-color: #eeefef;
  background-image: url(../img/beans.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

.info h2 {
  position: relative;

  margin: 0;
  padding-top: 130px;
  margin-left: 235px;
  margin-bottom: 110px;

  font-size: 40px;
  line-height: 55px;
  font-weight: 300;
}

.info h2::after {
  content: "";

  position: absolute;
  bottom: -60px;
  left: -40px;

  width: 253px;
  height: 33px;

  background-image: url(../img/decoration-line.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.info p {
  margin: 0;
  margin-bottom: 55px;
  width: 650px;

  font-size: 30px;
  line-height: 54px;
  text-align: center;
}

.signature {
  margin-left: 395px;
  width: 213px;
  height: 146px;

  background-image: url(../img/signature.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* ====== MENU ====== */

.menu h2 {
  position: relative;

  display: block;
  margin: 0 auto;
  margin-top: 65px;
  margin-bottom: 105px;

  font-size: 40px;
  line-height: 55px;
  font-weight: 300;
  text-align: center;
}

.menu h2::after {
  content: "";

  position: absolute;
  bottom: -60px;
  left: 525px;

  width: 253px;
  height: 33px;

  background-image: url(../img/decoration-line.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.menu-toggle {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-bottom: 80px;
  padding: 0;

  list-style: none;
}

.menu-toggle li {
  padding: 15px 25px;
  margin-right: 15px;

  font-size: 18px;
  line-height: 24px;

  cursor: pointer;
}

.toggle-item-current,
.toggle-item:hover,
.toggle-item:active {
  outline: 1px solid #686868;
}

.menu-wrapper {
  display: flex;
  justify-content: space-between;
}

.menu-list {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  width: 635px;

  list-style: none;
}

.menu-item {
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 40px;
}

.menu-item p {
  margin: 0;
}

.menu-item .menu-item-name {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
}

.menu-item .menu-dotted-line {
  flex-grow: 1;
  line-height: 16px;

  border-bottom: 2px dotted #3c3c3c;
}

.menu-item .menu-item-price {
  margin-left: auto;

  font-size: 18px;
  line-height: 24px;
}

.menu-item .menu-item-composition {
  width: 635px;

  font-size: 14px;
  line-height: 18px;
}

/* ====== CONTACT ====== */

.contact {
  min-height: 940px;

  background-color: #e9eaeb;
  background-image: url(../img/contact-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.contact h2 {
  position: relative;

  margin: 0;
  padding-top: 65px;
  margin-left: 920px;
  margin-bottom: 120px;

  font-size: 40px;
  line-height: 55px;
  font-weight: 300;
}

.contact h2::after {
  content: "";

  position: absolute;
  bottom: -60px;
  left: -40px;

  width: 253px;
  height: 33px;

  background-image: url(../img/decoration-line.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.contact-wrapper {
  display: flex;
  justify-content: space-between;
  width: 570px;
  margin-left: auto;
  margin-bottom: 100px;
}

.contact-name {
  margin-bottom: 10px;

  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
}

.contact-info {
  width: 220px;
}

.contact-info p {
  margin: 0;

  line-height: 24px;
}

.contact-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 570px;
  margin-left: auto;
  margin-bottom: 170px;
}

.contact-form p {
  margin: 0;
  margin-bottom: 25px;
  width: 570px;

  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
}

.contact-form input[type="text"] {
  width: 255px;
  padding: 10px 20px;
  box-sizing: border-box;

  font-style: italic;
  font-size: 18px;
  font-weight: 200;
  color: #3c3c3c;

  border: none;
  border-bottom: 1px solid #3c3c3c;
  background-color: transparent;
}

.contact-form input[name="message"] {
  margin-top: 60px;
  margin-bottom: 55px;
  width: 570px;
}

.contact-form input[type="text"]::placeholder {
  font-style: italic;
  font-size: 18px;
  font-weight: 200;
  color: #3c3c3c;
}

.contact-form .button {
  margin: auto;
  padding: 15px 30px;
  width: 100px;

  color: inherit;
  font-size: 18px;
  text-align: center;

  background-color: transparent;
  border: 1px solid #3c3c3c;
}

.social-buttons {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;

  list-style: none;
}

.social-buttons a {
  display: block;
  width: 50px;
  height: 50px;
  margin-left: 15px;

  border: 1px solid #3c3c3c;
}

.facebook-button {
  background-image: url(../img/icon/facebook.png);
  background-repeat: no-repeat;
  background-position: center;
}

.instagramm-button {
  background-image: url(../img/icon/instagram.png);
  background-repeat: no-repeat;
  background-position: center;
}
