/* ====== GLOBAL ====== */

body {
  margin: 0;
  padding: 0;

  font-family: "Merriweather", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #3c3c3c;
  font-weight: 300;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1520px;
  margin: 0 auto;
}

/* ====== HEADER ====== */

.site-navigation {
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-navigation a {
  color: inherit;
  font-size: 18px;
  line-height: 24px;
}

.tagline {
  margin: 0;

  font-size: 40px;
  line-height: 55px;
}

/* ====== FEATURES ====== */

.features-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.features-list h3 {
  margin: 0;

  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

.features-item p {
  margin: 0;
}

/* ====== SPECIALS ====== */

.specials h2 {
  margin: 0;

  font-size: 40px;
  line-height: 55px;
  font-weight: 300;
}

.specials p {
  margin: 0;
}

.specials-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.special-item h3 {
  margin: 0;

  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.special-item .special-price {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

/* ====== INFO ====== */

.info h2 {
  margin: 0;

  font-size: 40px;
  line-height: 55px;
  font-weight: 300;
}

.info p {
  margin: 0;

  font-size: 30px;
  line-height: 54px;
}

/* ====== MENU ====== */

.menu h2 {
  margin: 0;

  font-size: 40px;
  line-height: 55px;
  font-weight: 300;
}

.menu-toggle {
  margin: 0;
  padding: 0;

  list-style: none;
}

.menu-toggle li {
  font-size: 18px;
  line-height: 24px;
}

.menu-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.menu-item p {
  margin: 0;
}

.menu-item .menu-item-name {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
}

.menu-item .menu-item-price {
  font-size: 18px;
  line-height: 24px;
}

.menu-item .menu-item-composition {
  font-size: 14px;
  line-height: 18px;
}

/* ====== CONTACT ====== */

.contact h2 {
  margin: 0;

  font-size: 40px;
  line-height: 55px;
  font-weight: 300;
}

.contact-name {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
}

.contact-info p {
  margin: 0;

  line-height: 24px;
}

.contact-form p {
  margin: 0;

  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
}

.contact-form input[type="text"] {
  border: none;
  border-bottom: 1px solid #3c3c3c;
}

.contact-form input[type="text"]::placeholder {
  font-style: italic;
  font-size: 18px;
}

.contact-form .button {
  color: inherit;
  font-size: 18px;

  background-color: transparent;
}

.social-buttons {
  margin: 0;
  padding: 0;

  list-style: none;
}
